<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="signup-title">Login</h3>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <input type="email" placeholder="Email" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <div class="col-lg-6">
            <button class="fm-btn" type="submit">
              Login
            </button>
          </div>
          <div class="col-lg-6">
            <a class="fm-btn" href="/signup">
              Register
            </a>
          </div>
        </div>

      </form>
    </div>

    <div class="col-sm-4">
      <div class="breaker">
        <div class="row">
          <a class="btn btn-facebook btn-socials" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
        </div>
        <div class="row">
          <a class="btn btn-google-plus btn-socials" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
        </div>
        <div class="row">
          <a class="btn btn-twitter btn-socials" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
