
<footer class="footer">
  <div class="container">
    <div class="col-lg-4">
      <div class="footer-col-1">
        <img class="footer-image" src="assets/images/fragd/fragd_logo_large.png" alt="Kri">
      </div>
    </div>
    <div class=col-lg-4>
      <div class="footer-col-2">
        <h3 class="signup-title">Address</h3>
        <h4>Fragd Media</h4>
        <div class="f-text-secion">
          <p><span class="glyphicon glyphicon-map-marker"></span> 139 S. Beverly Drive STE.216,</p>
          <p>Beverly Hills,</p>
          <p>CA 90212,</p>
          <p>U.S.A.</p>
        </div>
        <div class="f-text-secion">
          <p><span class="glyphicon glyphicon-earphone"></span> 600-111-2233</p>
        </div>
        <div class="f-text-secion">
          <p><span class="glyphicon glyphicon-envelope"></span> fragdmedia@fragd.com</p>
        </div>
      </div>
    </div>
    <div class=col-lg-4>
      <div class="footer-col-3">
        <h3 class="signup-title">Contact Us</h3>
        <form class="form" name="form">

          <div class="form-group">
            <input type="email" placeholder="Email" name="email" class="form-control">
          </div>

          <div class="form-group">
            <input type="password" placeholder="Password" name="password" class="form-control">
          </div>
          <button class="fm-btn" type="submit">
            Send
          </button>
        </form>

      </div>
    </div>
  </div>
</footer>
