.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid $light-green;

  span{
    color: $light-green;
  }
  .footer-col-1{
    .footer-image{
      width: 100%;
    }
  }
  .footer-col-2{
    h4{
      padding-top: 10px;
      font-size: 20px;
      color: $light-green;
    }
    .f-text-section{
      padding: 10px 0;
    }
  }
  .footer-col-3{

  }
}
