<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;">
  <div class="container">
    <!--<h1 skrollr data-50="opacity:1;" data-150="opacity:0;">FRAG'D</h1>-->
    <img src="assets/images/fragd/fragd_logo_large.png" alt="Kri">
    <p skrollr data-50="opacity:1;" data-200="opacity:0;" class="lead">Digital disruption for Fragmented Media!</p>
    <!--<h2>{{date | date:'HH:mm:ss'}}</h2>
  </div>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x inversed"></i>
    <i class="fa fa-arrow-down fa-stack-1x"></i>
  </span>-->
</header>

<div ng-include="'components/carousel/carousel.html'"></div>
<div id="testingcontent" class="container">
  <div class="row">
    <div class="col-lg-3">
      <div id="ribbon">
      	<div class="inset"></div>
      	<div class="rib-container">
      		<div class="base">
            <ul>
              <li><a href="https://www.facebook.com/Kriy0" tooltip-placement="bottom" tooltip="My Facebook."><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Kr1yo" tooltip-placement="bottom" tooltip="My Twitter."><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/Kriyo" tooltip-placement="bottom" tooltip="My Git Page."><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=164953250" tooltip-placement="bottom" tooltip="My LinkedIn"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
      		<div class="left_corner"></div>
      		<div class="right_corner"></div>
      	</div>
      </div>
    </div>
    <div class="col-lg-9">
      <h3 class="pop-top">A little about us...</h3>
      <ul class="list-unstyled">
        <li>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque, orci ut sagittis elementum, quam nunc blandit felis, quis fringilla ex neque a magna. Nulla et ipsum in turpis maximus sollicitudin. Nullam tristique, ex at feugiat tempus, mi nibh finibus sapien, et interdum quam magna quis justo. Vivamus efficitur dui vel eleifend tincidunt. Curabitur mi nisl, venenatis sed auctor ut, bibendum eget est. In viverra consectetur elit, ac commodo magna ultrices sed. Quisque quis ipsum egestas arcu pretium convallis. Maecenas eu turpis enim</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="srv-container">
        <a href="#" class="thumbnail">
          <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </a>
      </div>
      <div class="srv-sub-container">
        <h3>Music</h3>
        <p>Integer eu sem leo. Aenean eget turpis vulputate, sagittis eros eget, feugiat sem. Ut eleifend ante eget aliquam congue. Sagittis eros eget.</p>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="srv-container">
        <a href="#" class="thumbnail">
          <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        </a>
      </div>
      <div class="srv-sub-container">
        <h3>Movies</h3>
        <p>Integer eu sem leo. Aenean eget turpis vulputate, sagittis eros eget, feugiat sem. Ut eleifend ante eget aliquam congue. Sagittis eros eget.</p>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="srv-container">
        <a href="#" class="thumbnail">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </a>
      </div>
      <div class="srv-sub-container">
        <h3>Bookings</h3>
        <p>Integer eu sem leo. Aenean eget turpis vulputate, sagittis eros eget, feugiat sem. Ut eleifend ante eget aliquam congue. Sagittis eros eget.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <h2>Recent Posts</h2>
        <input type="search" ng-model="searchPosts" class="form-control" placeholder="Search for Post">
        <ul>
          <li class="animate-repeat blog-container" ng-repeat="blogPost in blogPosts | filter:searchPosts">
            <div>
              <h2>{{blogPost.title}}</h2>
              <p>{{blogPost.time | date: 'dd-MM-yyyy'}}</p>
              <button ng-show="isAdmin()" type="button" class="close" ng-click="deletePost(blogPost)">&times;</button>
              <p class="lead">{{blogPost.content}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12">
      <form ng-show="isAdmin()" role="form" class="thing-form">
        <div class="form-group">
          <label>Another Blog Post</label>
          <input type="text" class="form-control" placeholder="Add title here." ng-model="newTitlePost">
        </div>
        <div class="form-group">
          <textarea rows="10" class="form-control" placeholder="Add blog post here." ng-model="newContentPost"></textarea>
        </div>
        <div class="form-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addPost()">Add New</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-lg-12">
      <h1 class="page-header">Partners:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a ng-href="{{thing.link}}" tooltip-placement="bottom" tooltip="{{thing.info}}">{{thing.name}}<button ng-show="isAdmin()" type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
    <form ng-show="isAdmin()" class="thing-form">
      <label>Add another!</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
        </span>
      </p>
    </form>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Chris Kennedy |
      <a href="https://twitter.com/Kr1yo">@Kr1yo</a> |
    </p>
  </div>
</footer>
