.thing-form {
    margin: 20px 0;
}

h1, h2, h3, h4{
  font-family: 'LeagueGothicRegular';
}
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.carousel-caption{
  padding-bottom: 80px;
  h1{
    font-size:5em;
    text-shadow: 1px 1px 2px #000;
  }
  p{
    font-size: 1.2em;
  }
}
.hero-unit {
    position: relative;
    height: 373px;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: url('/assets/images/bigbackground.jpg') !important;
    .container{
      img{
        width:55%;
        margin-left: -100px;
      }
      h1, p{
        margin: -60px 0px 0px 66px;
        text-shadow: 0px 2px 15px #000;
        font-family: 'LeagueGothicRegular';
        font-size: 2em;
        text-transform: uppercase;
        color: #41FF00 !important;
      }
      h1, h2{
        font-weight: 100;
      }
    }
    .fa.fa-circle.fa-stack-2x.inversed{
      color: rgba(0,0,0,0.5);
    }
}
.pop-top{
  margin-top:50px;
}

#mainContent{
  .main-featured{
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
  }
  .push-top-30{
    padding-top:30px;
  }
}
#mainNews{
  text-align:center;
  .main-featured{
    padding: 0;
  }
  h4{
    font-size: 20px;
    color: $light-green;
  }
}
.article-thumb{
  h4{
    font-size: 20px;
    color: $light-green;
  }
}
.client-thumb{
  padding-bottom: 15px;
  a{
    display: inline;
    padding: 10px;
    font-size: 20px;
    color: $light-green;
    font-family: 'LeagueGothicRegular';
  }
}

#paraSplitter{
  background: url('http://portfolio-kwarc.pl/music-nation-bootstrap-v-1-1/img/slider-photos/slogan-background.jpg');
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid $light-green;
  border-bottom: 2px solid $light-green;
  position: relative;
  height: 220px;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index:3;
  .overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://portfolio-kwarc.pl/music-nation-bootstrap-v-1-1/img/pixel-pattern.png');
    background-repeat: repeat;
  }
  .para-content {
    position: relative;
    z-index: 3;
    margin: 55px;
    text-align: center;
  }
}


#ribbon {
	width: 180px;
	height: 280px;
	margin: 50px auto 0;
	position: relative;
	overflow: hidden;

  .inset {
    width: 200px;
    height: 55px;
    position: absolute;
    top: -50px;
    left: -10px;
    z-index: 5;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  }
  .rib-container {
    position: relative;
    display: block;
    width: 100px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-left: 1px solid #631a15;
    border-right: 1px solid #631a15;
  }
  .base {
    display: block;
    height: 200px;
    width: 100px;
    background: rgb(199,59,60);
    background: -moz-linear-gradient(top,  rgba(199,59,60,1) 0%, rgba(184,32,31,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,59,60,1)), color-stop(100%,rgba(184,32,31,1)));
    background: -webkit-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: -o-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: -ms-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );
    position: relative;
    z-index: 2;
    ul{
      display: block;
      padding: 20px 0 5px 0;
      text-align: center;
      list-style: none;
      li{
        display:block;
        a{
          display: block;
          width: 100%;
          font-size: 2em;
          color: darken($banner-red, 20%);
          text-shadow: 1px 4px 6px $banner-red, 0 0 0 lighten($banner-red, 5%), 1px 4px 6px $banner-red;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 86px;
      left: 6px;
      height: 242px;
      z-index: -1;
      border-left: 1px dashed #631a15;
      border-right: 1px dashed #631a15;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 86px;
      left: 7px;
      height: 242px;
      z-index: -1;
      border-left: 1px dashed #da5050;
      border-right: 1px dashed #da5050;
    }
  }

  .left_corner {
    width: 100px;
    height: 100px;
    background: #b8201f;
    position: absolute;
    bottom: 20px;
    left: -50px;
    z-index: 1;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .right_corner {
    width: 100px;
    height: 100px;
    background: #b8201f;
    position: absolute;
    bottom: 20px;
    right: -50px;
    z-index: 1;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.blog-container{
  margin: 20px;
  background: #2b2b2b;
  padding: 20px;
  border: 1px solid $light-green;
}

.srv-container{
  position: relative;
  width: auto;
  height: 200px;
  background-color: $dark-grey;
  a{
    position: relative;
    top: 33%;
    text-align: center;
    background: transparent;
    color: #41FF00;
    font-size: 3em;
    border: none;
  }
  &:after {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(43, 43, 43, 0);
  	border-top-color: #2b2b2b;
  	border-width: 15px;
  	margin-left: -15px;
  }
}
.srv-sub-container{
  padding-top:10px;
  text-align:center;

  h3{
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
  }
}

// Angular Animation classes.
.animate-repeat {
  line-height:40px;
  list-style:none;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

/**
* Stagger Leave (hide) animation
*/
.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  /* in case the stagger doesn't work then these two values
  must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/**
* Stagger ENTER ANIMATION
*/
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  /* in case the stagger doesn't work then these two values
  must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.image {
    position:relative;
    width:100%;
    height:auto;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background: #000;
    border: 1px solid $light-green;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}
